<?xml version = "1.0" encoding = "UTF-8"?>
<beans xmlns = "http://www.springframework.org/schema/beans"
   xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance" 
   xmlns:aop = "http://www.springframework.org/schema/aop"
   xmlns:context="http://www.springframework.org/schema/context"
   xsi:schemaLocation = "http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd 
   http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd 
   http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

   	<context:component-scan base-package="com.vinu.jdbc"></context:component-scan>
	<context:annotation-config/>
	<bean name="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName" value="org.postgresql.Driver"></property>
		<property name="url" value="jdbc:postgresql://localhost:5432/postgres"></property>
		<property name="username" value="postgres"></property>
		<property name="password" value="admin"></property>
		<!-- Connection Pool properties -->
		<property name="initialSize" value="2"></property>
		<property name="maxActive" value="5"></property>
	</bean>
	
	<bean name="simpleJdbcDaoImpl" class="com.vinu.jdbc.dao.SimpleJdbcDaoImpl">
		<property name="dataSource" ref="dataSource"></property>
	</bean>
	
	<bean id="sessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource"></property>
		<property name="packagesToScan" value="com.vinu.jdbc.model"></property>
		<property name="hibernateProperties">
			<props>
				<prop key="dialect">org.hibernate.dialect.PostgreSQLDialect</prop>
				<prop key="hibernate.show_sql">true</prop>
			</props>
		</property>
	
	</bean>
</beans>
