#header{
    
    text-align: center;
    background-color: #b2efa3; 
    border-width: 5px;
    border-style: double;
    border-color: #c96735;
    font-family: cursive;
    font-style: italic;
}
.center{
    position: absolute;
    left:50%;
}

.frame1{
    position: absolute;
    left:75%;
    overflow: auto;
    border: 2px solid orange;
    
}
#showDate{
    
    padding: 0px;
    float: left;
    margin-top: 10px;
}
#clickcount{
    
    padding: 0px;
    float:right;
    margin-top: 10px;
}
.container{
    border: 2px solid gray;
    max-width: 20%;
    margin-left: 40%;
    align-self: center;
}
button:hover {
   
}
