<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	<bean id="triangle" class="com.vinu.spring.Triangle">
		<constructor-arg type="java.lang.String" value="Equilateral" />
		<constructor-arg type="int" value="20" />
	</bean>
	<bean id="quadrilateral" class="com.vinu.spring.Quadrilateral">
		<property name="pointA" ref="origin"/>
		<property name="pointB" ref="bottomRight"/>
		<property name="pointC" ref="topLeft"/>
		<!-- <property name="pointD" ref="topRight"/> -->
		<property name="pointD">
			<ref bean="topRight"/>  <!-- Makes sure that an bean with id topRight is there -->
		</property>
	</bean>
	
	<bean id="origin" class="com.vinu.spring.Point">
		<property name="x" value="0"/>
		<property name="y" value="0"/>
	</bean>
	
	<bean id="bottomRight" class="com.vinu.spring.Point">
		<property name="x" value="20"/>
		<property name="y" value="0"/>
	</bean>
	
	<bean id="topLeft" class="com.vinu.spring.Point">
		<property name="x" value="0"/>
		<property name="y" value="20"/>
	</bean>
	
	<bean id="topRight" class="com.vinu.spring.Point">
		<property name="x" value="20"/>
		<property name="y" value="20"/>
	</bean>
	<alias name="triangle" alias="tri-alias" />
	
	<bean id="pentagon" class="com.vinu.spring.Pentagon">
		<property name="points">
			<list>
				<ref bean="origin"/>
				<ref bean="bottomRight"/>
				<ref bean="topLeft"/>
				<bean class="com.vinu.spring.Point">
					<property name="x" value="30"/>
				</bean>
				<ref bean="topRight"/>
			</list>
		</property>
	</bean>
	
</beans>
